html{
    height: 100%;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin-left:300px;
    background-color: #013A6B;
    background-image: -webkit-linear-gradient(-50deg, #ad419d 50%, #ffffff 50%);
}

header {
    text-align: right;
    margin: 0px 0 0 0;
}
header img {
    max-width: 10%;
}
main {
    text-align: left;
    margin-top: 50px;
    min-height: 100%;
}
label {
    color: white;
    font-size: 1.5em;
    display:block;
    margin-right: 250px;
    margin-bottom: 5px;
}
tbody {
    font-size: 1em;
} 
p {
    margin: 0;
}
.check:checked {
    background-color: aqua;
}
.check:hover {
    cursor:pointer;
    transition: 100ms;
}
.del-btn {
    font-size: 1em;
    margin: 0;
    padding: 2px;
    border-radius: 50%;
    width:100%;
    background-color: white;
    color: black;
    margin-left: 5px;
}
.del-btn:hover {
    background-color:rgb(121, 163, 231);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 300ms;
}
.rmv-btn {
    /*-webkit-backdrop-filter: blur(30px);*/
    backdrop-filter: blur(10px);
    padding: 10px 20px;
    font-size: 1em;
    font-weight:200;
    border-radius: 6px;
    background-color: rgba(2, 6, 12, 0.6) ;
    border: 0;
    color: white;
}
.rmv-btn:hover {
    font-weight: bold;
    background-color:rgb(121, 163, 231);
    cursor: pointer;
    transition: 100ms;
}
.riscado {
    text-decoration: line-through;
}
#input-div {
    margin: 0;
}
#prod-input {
    font-size: 1em;
    min-width: 55%;
    
    border-radius: 4px;
    border-width: 1.5px;
    padding: 10px 0 8px 6px;
    margin-right: 20px;
}
#tabela {
    text-align: left;
    border-collapse: separate;
    border-spacing: 10px;
}
#price {
    margin-left: 50px;
    margin-top: 20px;
    padding-top: 50px;
}
#tabletitle {
    margin: 0 0 20px 15px;
    font-size: 1.4em;
}
.display {
    display:inline-table;
    text-align: left;
}
#lista {
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 10px 0px 10px 10px;
    color: white;
    background-color: rgb(63, 63, 63, 0.6);
    width: 55%;
    min-height: 250px;
}
#price-title {
    font-size: 1.5em;
    margin-bottom: 20px;
}
#price-par {
    font-size: 3em;
    margin-top: 30px;
    margin-left: 0px;
    font-weight: 550;  
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }